extends ../layouts/user

block content
  .page-header
    h1 Welcome #{current_user.full_name}!
  p
    a.btn.btn-default.btn-lg.btn-block(href=users_path)
      i.fa.fa-user
      |  User Management
    a.btn.btn-default.btn-lg.btn-block(href=events_path)
      i.fa.fa-calendar
      |  Event Management
    a.btn.btn-default.btn-lg.btn-block(href=wordclouds_path)
      i.fa.fa-cloud
      |  Word Cloud Management
    a.btn.btn-warning.btn-lg.btn-block(href=logout_path)
      i.fa.fa-sign-out
      |  Logout
