extends ../../layouts/admin

block content
  if mode == 'new'
    h1 New Event
  else
    h1 Edit Event
  if error
    p= error
  form(method='post', enctype='multipart/form-data', autocomplete='off')
    .form-group
      label(for='name') Name
      p: input.form-control(type='text', id='name', name='event[name]', placeholder='Event Name', required, autofocus, value=event.name)
    .form-group
      label(for='date') Date
      p: input.form-control(type='date', id='date', name='event[date]', placeholder='YYYY-MM-DD', value=event.date)
    .from-group
      label(for='agenda') Agenda (.pdf)
      p: input(type='file', id='agenda', name='agenda')
    if mode == 'new'
      button.btn.btn-primary(type='submit')
        i.fa.fa-plus-circle
        |  Create
      | &nbsp;
      a.btn.btn-default(href=events_path) Cancel
    else
      button.btn.btn-primary(type='submit')
        i.fa.fa-floppy-o
        |  Save
      | &nbsp;
      a.btn.btn-default(href=event_path(event)) Cancel
