extends ../../layouts/admin

block content
  h1 All Events
  if msg != ''
    .alert.alert-info= msg
  p
    a.btn.btn-default(href=admin_path) Back
    | &nbsp;
    a.btn.btn-primary(href=new_event_path)
      i.fa.fa-plus
      |  New
    | &nbsp;
    a.btn.btn-warning(href=clear_event_path) Clear current event
  table.table.table-striped.table-hover
    thead
      tr
        th Name
        th Date
        th Agenda
        th Operations
    tbody
      each event in events
        tr(class=(configurations.current_event_id == event._id ? 'success' : ''))
          td= event.name
          td
            i.fa.fa-calendar
            | &nbsp;
            = event.date
          td: a(href=agenda_path(event))
            | Download&nbsp;
            i.fa.fa-download
          td
            if configurations.current_event_id != event._id
              a(href=use_event_path(event)) Set current
              | &nbsp;|&nbsp;
            a(href=event_path(event)) View
            | &nbsp;|&nbsp;
            a(href=edit_event_path(event)) Edit
            | &nbsp;|&nbsp;
            a(href=delete_event_path(event)) Delete
