extends ../../layout

block content
  if msg
    p= msg
  p: a(href=events_path) Back
  label Name
  p= event.name
  label Date
  p= event.date
  label Agenda
  p: a(href=agenda_path(event)) agenda.pdf
  label Questionnaire
  p: a(href=questionnaire_builder_path(event)) Go to questionnaire builder
  p
    if current_event && current_event._id == event._id
      | Current event
    else
      a(href=use_event_path(event)) Set current
    | &nbsp;|&nbsp;
    a(href=edit_event_path(event)) Edit
    | &nbsp;|&nbsp;
    a(href=delete_event_path(event)) Delete
  h1 Participants
  a(href=add_participant_path(event)) Add
  | &nbsp;|&nbsp;
  a(href=import_participant_path(event)) Import
  | &nbsp;|&nbsp;
  a(href=qr_path(event)) Download QR Code (zip)
  | &nbsp;|&nbsp;
  a(href=clear_entry_path(event)) Clear entry
  if participants_msg
    p= participants_msg
  table
    thead
      tr
        th Name
        th Position
        th Company
        th Token
        th Entered
        th Operations
    tbody
      each participant in participants
        tr
          td= participant.name
          td= participant.position
          td= participant.company
          td= participant.token
          td= participant.entered ? 'Yes' : 'No'
          td
            a(href=participant_path(participant)) View
            | &nbsp;|&nbsp;
            a(href=edit_participant_path(participant)) Edit
            | &nbsp;|&nbsp;
            a(href=delete_participant_path(participant)) Delete
