extends ../../layout

block content
  if msg
    p= msg
  p: a(href=events_path) Back
  label Name
  p= event.name
  label Date
  p= event.date
  p
    a(href=edit_event_path(event)) Edit
    | &nbsp;|&nbsp;
    a(href=delete_event_path(event)) Delete
  h1 Participants
  a(href=add_participant_path(event)) Add
  if participants_msg
    p= participants_msg
  table
    thead
      tr
        th Name
        th Company
        th Operations
    tbody
      each participant in participants
        tr
          td= participant.name
          td= participant.company
          td
            a(href=participant_path(participant)) View
            | &nbsp;|&nbsp;
            a(href=edit_participant_path(participant)) Edit
            | &nbsp;|&nbsp;
            a(href=delete_participant_path(participant)) Delete
