extends ../../layouts/admin

block content
  h1 All Users
  if msg != ''
    .alert.alert-info= msg
  p
    a.btn.btn-default(href=admin_path) Back
    | &nbsp;
    a.btn.btn-primary(href=new_user_path)
      i.fa.fa-plus
      |  New
  table.table.table-striped.table-hover
    thead
      tr
        th Username
        th Full Name
        th Operations
    tbody
      each user in users
        tr
          td= user.username
          td= user.full_name
          td
            a(href=user_path(user)) View
            | &nbsp;|&nbsp;
            a(href=edit_user_path(user)) Edit
            | &nbsp;|&nbsp;
            a(href=delete_user_path(user)) Delete
