extends ../../layouts/admin

block content
  h1
  if msg != ''
    .alert.alert-info= msg
  p: a.btn.btn-default(href=users_path) Back
  .form-group
    label Username
    p.form-control-static= user.username
  .form-group
    label Full Name
    p.form-control-static= user.full_name
  p
    a.btn.btn-info(href=edit_user_path(user))
      i.fa.fa-pencil
      |  Edit
    | &nbsp;
    a.btn.btn-danger(href=delete_user_path(user))
      i.fa.fa-trash
      |  Delete
