extends ../../layout

block content
  if msg
    p= msg
  p: a(href=users_path) Back
  label Username
  p= user.username
  label Full Name
  p= user.full_name
  p
    a(href=edit_user_path(user)) Edit
    | &nbsp;|&nbsp;
    a(href=delete_user_path(user)) Delete
