extends ../../layouts/admin

block content
  if mode == 'new'
    h1 New Word Cloud
  else
    h1 Edit Word Cloud
  if error
    p= error
  form(method='post', autocomplete='off')
    .form-group
      label(for='question') Question
      p: input.form-control(type='text', id='question', name='wordcloud[question]', placeholder='Question', required, autofocus, value=wordcloud.question)
    .form-group
      label(for='event_id') Event
      select.form-control(id='event_id', name='wordcloud[event_id]', required)
        option(value='') Select Event
        each event in events
          if event._id == wordcloud.event_id
            option(value=event._id, selected)= event.name
          else
            option(value=event._id)= event.name
    if mode == 'new'
      button.btn.btn-primary(type='submit')
        i.fa.fa-plus-circle
        |  Create
      | &nbsp;
      a.btn.btn-default(href=wordclouds_path) Cancel
    else
      button.btn.btn-primary(type='submit')
        i.fa.fa-floppy-o
        |  Save
      | &nbsp;
      a.btn.btn-default(href=wordcloud_path(wordcloud)) Cancel
