extends ../../layout

block content
  if msg
    p= msg
  p: a(href=wordclouds_path) Back
  label Question
  p= wordcloud.question
  label Event
  p= wordcloud.event_name
  p
    if configurations.current_wordcloud_id == wordcloud._id
      | Current word cloud
    else
      a(href=use_wordcloud_path(wordcloud)) Set current
    | &nbsp;|&nbsp;
    a(href=edit_wordcloud_path(wordcloud)) Edit
    | &nbsp;|&nbsp;
    a(href=delete_wordcloud_path(wordcloud)) Delete
