extends ../../layouts/admin

block content
  h1
  if msg != ''
    .alert.alert-info= msg
  p: a.btn.btn-default(href=wordclouds_path) Back
  .form-group
    label Question
    p.form-control-static= wordcloud.question
  .form-group
    label Event
    p.form-control-static= wordcloud.event_name
  p
    if configurations.current_wordcloud_id == wordcloud._id
      a.btn.btn-default.disabled Current word cloud
    else
      a.btn.btn-success(href=use_wordcloud_path(wordcloud)) Set current
    | &nbsp;
    a.btn.btn-info(href=edit_wordcloud_path(wordcloud))
      i.fa.fa-pencil
      |  Edit
    | &nbsp;
    a.btn.btn-danger(href=delete_wordcloud_path(wordcloud))
      i.fa.fa-trash
      |  Delete
