extends ../layout

block content
  .row
    .col-xs-12.col-md-6.col-md-offset-3
      h1 Hello #{current_participant.name}!
      h2 Welcome to #{current_event.name}!
      p
        a.btn.btn-info.btn-lg.btn-block(href=event_agenda_path)
          span.glyphicon.glyphicon-calendar
          |  Agenda
      p
        if current_wordcloud
          a.btn.btn-success.btn-lg.btn-block(href=event_wordcloud_path)
            span.glyphicon.glyphicon-cloud
            |  Word Cloud Brainstorming
        else
          a.btn.btn-default.btn-lg.btn-block.disabled
            span.glyphicon.glyphicon-gift
            |  ???
      p
        if current_event.questionnaire && current_event.questionnaire_enabled
          if current_participant.questionnaire
            a.btn.btn-default.btn-lg.btn-block.disabled
              span.glyphicon.glyphicon-ok
              |  Questionnaire submitted!
              br
              |  Thank you!
          else
            a.btn.btn-primary.btn-lg.btn-block(href=event_questionnaire_path)
              span.glyphicon.glyphicon-file
              |  Questionnaire
