extends ../../layouts/admin

block content
  if mode == 'new'
    h1 New Participant
  else
    h1 Edit Participant
  if error
    p= error
  form(method='post', autocomplete='off')
    .form-group
      label(for='name') Name
      p: input.form-control(type='text', id='name', name='participant[name]', placeholder='Participant Name', required, autofocus, value=participant.name)
    .form-group
      label(for='position') Position
      p: input.form-control(type='text', id='position', name='participant[position]', placeholder='Participant Position', value=participant.position)
    .form-group
      label(for='company') Company
      p: input.form-control(type='text', id='company', name='participant[company]', placeholder='Participant Company', value=participant.company)
    if mode == 'new'
      button.btn.btn-primary(type='submit')
        i.fa.fa-plus-circle
        |  Create
      | &nbsp;
      a.btn.btn-default(href=event_path(event)) Cancel
    else
      label(for='token') Token
      p: input.form-control(type='text', id='token', name='participant[token]', placeholder='Token', value=participant.token)
      button.btn.btn-primary(type='submit')
        i.fa.fa-floppy-o
        |  Save
      | &nbsp;
      a.btn.btn-default(href=participant_path(participant)) Cancel
